<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Not only have I played many weddings, but I am also a member of the Main Street Symphony Orchestra in Duluth, GA. In the past I have played with different quartets, most recently the Main Street Quartet, also out of Duluth.</p>

                <p class="text-faded">Specialties:Tension free playing is my biggest goal during any lesson. I suffered a neck injury because I played with tension and it was never addressed until it was almost too late. Now, after being rehabilitated, I pay much attention to the student, their posture, and any discomfort they are having so that they do not suffer how I had suffered.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Me!</a>
            </div>
        </div>
    </div>
</section>
