<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">My name is Ginger Howard and I am accepting students of all ages in my violin/viola studio, which meets in my home. Each lesson is a private one-on-one session that covers many areas of the violin or viola (which ever instrument you decide upon).</p>

                <p class="text-faded">Tension free playing is my biggest goal for my students. I suffered a neck injury because I played with tension and it was never addressed until it was almost too late. Now, after being rehabilitated, I pay close attention to the student, their posture, and any discomfort they are having so that they do not suffer how I had suffered. I focus on the ability to play long-term, whether that be for a future career or a life long hobby.</p>

                <p class="text-faded">My studio also emphasizes on theory, history and music listening.</p>

                <p class="text-faded">I am currently playing with The Forsyth Philharmonic and have also been involved with the Main Street Symphony Orchestra and Main Street Quartet.</p>
                
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact Me!</a>
            </div>
        </div>
    </div>
</section>
