<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How To Get In Touch</h2>
                <hr class="primary">
                <p>Ready to start your first lesson? You can reach me through LinkedIn, direct email, or on my Facebook page. I look forward to hearing from you!</p>
            </div>
        <div class="col-lg-3 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" data-toggle="tooltip" data-placement="bottom" title="Contact me on LinkedIn">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="mailto:{{ site.email }}" data-toggle="tooltip" data-placement="bottom" title="Email me: {{ site.email }}">
            <i class="fa fa-envelope-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="tel:+13037187513" data-toggle="tooltip" data-placement="bottom" title="Call me at 1-303-718-7513">
            <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="https://www.facebook.com/{{ site.facebook_username }}/" data-toggle="tooltip" data-placement="bottom" title="Contact me on Facebook">
            <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
