<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How To Get In Touch</h2>
                <hr class="primary">
                <p>Ready to start your first lesson? You can reach me through LinkedIn, direct email, or on my Facebook page. I look forward to hearing from you!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.linkedin.com/in/gingerhoward">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:gahejny@2vstudio.com">
            <i class="fa fa-envelope-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/GingerHowardViolinViolaStudio/">
            <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.facebook_username }}</p>
            </a>
        </div>

    </div>
</section>
