<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Studio Links</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/policy/">
                        <i class="fa fa-4x fa-institution wow bounceIn text-primary"></i>
                    </a>
                    <h3>Studio Policy</h3>
                    <p class="text-muted">Prospective and current students, please review my studio policy here.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/stores/">
                        <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </a>
                    <h3>Local Stores</h3>
                    <p class="text-muted">Here is a list of recommended local music stores for instrument rental / purchase.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/bio/">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </a>
                    <h3>Bio</h3>
                    <p class="text-muted">20+ years experience in playing, performing, and teaching.</p>
                </div>
            </div>
        </div>
    </div>
</section>
